
frontend/src/setupTests.ts
*.sln
frontend/tsconfig.json
.idea/modules.xml
.idea/vcs.xml
backend/forum/bin/Debug/net8.0/Firebase.dll
backend/forum/bin/Debug/net8.0/FirebaseAdmin.dll
backend/forum/bin/Debug/net8.0/forum
backend/forum/bin/Debug/net8.0/forum.deps.json
backend/forum/bin/Debug/net8.0/forum.dll
backend/forum/bin/Debug/net8.0/forum.pdb
backend/forum/bin/Debug/net8.0/forum.runtimeconfig.json
backend/forum/bin/Debug/net8.0/forum.staticwebassets.runtime.json
backend/forum/bin/Debug/net8.0/Google.Api.Gax.dll
backend/forum/bin/Debug/net8.0/Google.Api.Gax.Rest.dll
backend/forum/bin/Debug/net8.0/Google.Apis.Auth.dll
backend/forum/bin/Debug/net8.0/Google.Apis.Auth.PlatformServices.dll
backend/forum/bin/Debug/net8.0/Google.Apis.Core.dll
backend/forum/bin/Debug/net8.0/Google.Apis.dll
backend/forum/bin/Debug/net8.0/LiteDB.dll
backend/forum/bin/Debug/net8.0/System.Runtime.InteropServices.WindowsRuntime.dll
backend/forum/bin/Debug/net8.0/System.Reactive.dll
backend/forum/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
backend/forum/bin/Debug/net8.0/Newtonsoft.Json.dll
backend/forum/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
backend/forum/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
backend/forum/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
backend/forum/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
backend/forum/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
backend/forum/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
backend/forum/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
backend/forum/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
backend/forum/forum.csproj
backend/forum/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
backend/forum/obj/Debug/net8.0/forum.AssemblyInfoInputs.cache
backend/forum/obj/Debug/net8.0/forum.assets.cache
backend/forum/obj/Debug/net8.0/forum.csproj.AssemblyReference.cache
backend/forum/obj/Debug/net8.0/forum.csproj.CoreCompileInputs.cache
backend/forum/obj/Debug/net8.0/forum.csproj.FileListAbsolute.txt
backend/forum/obj/Debug/net8.0/forum.csproj.Up2Date
backend/forum/obj/Debug/net8.0/forum.dll
backend/forum/obj/Debug/net8.0/ref/forum.dll
backend/forum/obj/Debug/net8.0/refint/forum.dll
backend/forum/obj/Debug/net8.0/staticwebassets/msbuild.build.forum.props
backend/forum/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.forum.props
backend/forum/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.forum.props
backend/forum/obj/project.nuget.cache
backend/forum/obj/project.assets.json
backend/forum/obj/forum.csproj.nuget.g.targets
backend/forum/obj/forum.csproj.nuget.g.props
backend/forum/obj/forum.csproj.nuget.dgspec.json
backend/forum/obj/Debug/net8.0/staticwebassets/msbuild.forum.Microsoft.AspNetCore.StaticWebAssets.props
backend/forum/obj/Debug/net8.0/staticwebassets.pack.json
backend/forum/obj/Debug/net8.0/staticwebassets.development.json
backend/forum/obj/Debug/net8.0/staticwebassets.build.json
backend/forum/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
backend/forum/obj/Debug/net8.0/scopedcss/projectbundle/forum.bundle.scp.css
backend/forum/obj/Debug/net8.0/scopedcss/bundle/forum.styles.css
backend/forum/obj/Debug/net8.0/forum.sourcelink.json
backend/forum/obj/Debug/net8.0/forum.RazorAssemblyInfo.cache
backend/forum/obj/Debug/net8.0/forum.MvcApplicationPartsAssemblyInfo.cache
backend/forum/obj/Debug/net8.0/forum.genruntimeconfig.cache
backend/forum/obj/Debug/net8.0/forum.GlobalUsings.g.cs
backend/forum/obj/Debug/net8.0/forum.pdb
backend/forum/obj/Debug/net8.0/forum.RazorAssemblyInfo.cs
backend/forum/obj/Debug/net8.0/forum.GeneratedMSBuildEditorConfig.editorconfig
backend/forum/obj/Debug/net8.0/forum.AssemblyInfo.cs
backend/forum/obj/Debug/net8.0/apphost
backend/forum/appsetting.json
backend/bin/Debug/net8.0/appsettings.Development.json
backend/bin/Debug/net8.0/appsettings.json
backend/bin/Debug/net8.0/Azure.Core.dll
backend/bin/Debug/net8.0/Azure.Identity.dll
backend/bin/Debug/net8.0/backend.deps.json
backend/bin/Debug/net8.0/backend.dll
backend/bin/Debug/net8.0/backend.exe
backend/bin/Debug/net8.0/backend.pdb
backend/bin/Debug/net8.0/backend.runtimeconfig.json
backend/bin/Debug/net8.0/Humanizer.dll
backend/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
backend/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
backend/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
backend/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
backend/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
backend/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
backend/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
backend/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
backend/bin/Debug/net8.0/Microsoft.Identity.Client.dll
backend/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
backend/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
backend/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
backend/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
backend/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
backend/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
backend/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
backend/bin/Debug/net8.0/Microsoft.OpenApi.dll
backend/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
backend/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
backend/bin/Debug/net8.0/Mono.TextTemplating.dll
backend/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
backend/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
backend/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
backend/bin/Debug/net8.0/System.CodeDom.dll
backend/bin/Debug/net8.0/System.Composition.AttributedModel.dll
backend/bin/Debug/net8.0/System.Composition.Convention.dll
backend/bin/Debug/net8.0/System.Composition.Hosting.dll
backend/bin/Debug/net8.0/System.Composition.Runtime.dll
backend/bin/Debug/net8.0/System.Composition.TypedParts.dll
backend/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
backend/bin/Debug/net8.0/System.Drawing.Common.dll
backend/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
backend/bin/Debug/net8.0/System.Memory.Data.dll
backend/bin/Debug/net8.0/System.Runtime.Caching.dll
backend/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
backend/bin/Debug/net8.0/System.Security.Permissions.dll
backend/bin/Debug/net8.0/System.Windows.Extensions.dll
backend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
backend/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
backend/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
backend/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
backend/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
backend/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
backend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
backend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
backend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
backend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
backend/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
backend/obj/Debug/net8.0/apphost.exe
backend/obj/Debug/net8.0/backend.AssemblyInfo.cs
backend/obj/Debug/net8.0/backend.AssemblyInfoInputs.cache
backend/obj/Debug/net8.0/backend.assets.cache
backend/obj/Debug/net8.0/backend.csproj.AssemblyReference.cache
backend/obj/Debug/net8.0/backend.csproj.CoreCompileInputs.cache
backend/obj/Debug/net8.0/backend.csproj.FileListAbsolute.txt
backend/obj/Debug/net8.0/backend.csproj.Up2Date
backend/obj/Debug/net8.0/backend.dll
backend/obj/Debug/net8.0/backend.GeneratedMSBuildEditorConfig.editorconfig
backend/obj/Debug/net8.0/backend.genruntimeconfig.cache
backend/obj/Debug/net8.0/backend.GlobalUsings.g.cs
backend/obj/Debug/net8.0/backend.MvcApplicationPartsAssemblyInfo.cache
backend/obj/Debug/net8.0/backend.MvcApplicationPartsAssemblyInfo.cs
backend/obj/Debug/net8.0/backend.pdb
backend/obj/Debug/net8.0/backend.sourcelink.json
backend/obj/Debug/net8.0/staticwebassets.build.json
backend/obj/Debug/net8.0/ref/backend.dll
backend/obj/Debug/net8.0/refint/backend.dll
backend/obj/Debug/net8.0/staticwebassets/msbuild.build.backend.props
backend/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.backend.props
backend/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.backend.props
