
frontend/src/setupTests.ts
*.sln
frontend/tsconfig.json
.idea/modules.xml
.idea/vcs.xml
backend/forum/bin/Debug/net8.0/Firebase.dll
backend/forum/bin/Debug/net8.0/FirebaseAdmin.dll
backend/forum/bin/Debug/net8.0/forum
backend/forum/bin/Debug/net8.0/forum.deps.json
backend/forum/bin/Debug/net8.0/forum.dll
backend/forum/bin/Debug/net8.0/forum.pdb
backend/forum/bin/Debug/net8.0/forum.runtimeconfig.json
backend/forum/bin/Debug/net8.0/forum.staticwebassets.runtime.json
backend/forum/bin/Debug/net8.0/Google.Api.Gax.dll
backend/forum/bin/Debug/net8.0/Google.Api.Gax.Rest.dll
backend/forum/bin/Debug/net8.0/Google.Apis.Auth.dll
backend/forum/bin/Debug/net8.0/Google.Apis.Auth.PlatformServices.dll
backend/forum/bin/Debug/net8.0/Google.Apis.Core.dll
backend/forum/bin/Debug/net8.0/Google.Apis.dll
backend/forum/bin/Debug/net8.0/LiteDB.dll
backend/forum/bin/Debug/net8.0/System.Runtime.InteropServices.WindowsRuntime.dll
backend/forum/bin/Debug/net8.0/System.Reactive.dll
backend/forum/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
backend/forum/bin/Debug/net8.0/Newtonsoft.Json.dll
backend/forum/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
backend/forum/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
backend/forum/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
backend/forum/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
backend/forum/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
backend/forum/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
backend/forum/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
backend/forum/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
backend/forum/forum.csproj
backend/forum/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
backend/forum/obj/Debug/net8.0/forum.AssemblyInfoInputs.cache
backend/forum/obj/Debug/net8.0/forum.assets.cache
backend/forum/obj/Debug/net8.0/forum.csproj.AssemblyReference.cache
backend/forum/obj/Debug/net8.0/forum.csproj.CoreCompileInputs.cache
backend/forum/obj/Debug/net8.0/forum.csproj.FileListAbsolute.txt
backend/forum/obj/Debug/net8.0/forum.csproj.Up2Date
backend/forum/obj/Debug/net8.0/forum.dll
backend/forum/obj/Debug/net8.0/ref/forum.dll
backend/forum/obj/Debug/net8.0/refint/forum.dll
backend/forum/obj/Debug/net8.0/staticwebassets/msbuild.build.forum.props
backend/forum/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.forum.props
backend/forum/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.forum.props
backend/forum/obj/project.nuget.cache
backend/forum/obj/project.assets.json
backend/forum/obj/forum.csproj.nuget.g.targets
backend/forum/obj/forum.csproj.nuget.g.props
backend/forum/obj/forum.csproj.nuget.dgspec.json
backend/forum/obj/Debug/net8.0/staticwebassets/msbuild.forum.Microsoft.AspNetCore.StaticWebAssets.props
backend/forum/obj/Debug/net8.0/staticwebassets.pack.json
backend/forum/obj/Debug/net8.0/staticwebassets.development.json
backend/forum/obj/Debug/net8.0/staticwebassets.build.json
backend/forum/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
backend/forum/obj/Debug/net8.0/scopedcss/projectbundle/forum.bundle.scp.css
backend/forum/obj/Debug/net8.0/scopedcss/bundle/forum.styles.css
backend/forum/obj/Debug/net8.0/forum.sourcelink.json
backend/forum/obj/Debug/net8.0/forum.RazorAssemblyInfo.cache
backend/forum/obj/Debug/net8.0/forum.MvcApplicationPartsAssemblyInfo.cache
backend/forum/obj/Debug/net8.0/forum.genruntimeconfig.cache
backend/forum/obj/Debug/net8.0/forum.GlobalUsings.g.cs
backend/forum/obj/Debug/net8.0/forum.pdb
backend/forum/obj/Debug/net8.0/forum.RazorAssemblyInfo.cs
backend/forum/obj/Debug/net8.0/forum.GeneratedMSBuildEditorConfig.editorconfig
backend/forum/obj/Debug/net8.0/forum.AssemblyInfo.cs
backend/forum/obj/Debug/net8.0/apphost
