# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env
/firebasekey/
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Ignore environment variables
.env

# Ignore Firebase service account key files
/firebasekey/
/path/to/your/firebase/key

# Node modules should always be ignored
node_modules/

# Ignore build files if you're compiling TypeScript
dist/

appsettings.Development.json
appsettings.Production.json
appsettings.json